html{
    --primary: #62E89A ;
    --hover: #7aefab;
    --bg:#222426;
    --black: #000000;
    --dark: #161617;
    --dark2: #262626;
    --white: #fff;
    font-family:'K2D',sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
        margin: 0;
        padding: 0;
}
.button{
background-color:var(--primary);
text-decoration: none;
color: var(--white);
display: block;
font-weight: bold;
width: 100%;
font-size: 1.5em;
padding-top: 0.5em;
padding-bottom: 0.5em;

}
.button.small{
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.button:hover{
color: var(--black);

}
h1{

}

h2{

}
h3{
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
h4{

}
h5{
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
strong{
    color: var(--primary);
    text-decoration: none;
    font-weight: normal;
}
p{
    font-weight: 500;
}