.page__header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
padding: 1em;
position: sticky;
background-color: var(--dark2);
}
.header__icon{
    min-width: 200px;
    min-height: auto;
}
.header__buttons{
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    gap: 1em;
    margin-bottom: 0;
    list-style-type: none;
text-align: center;
margin-top: 0;
padding: 0;
}
li{
     color: var(--white);
}
.hamburger__icon{
    align-content: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure{
    margin: 0;
}
figcaption{
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
}
a{
text-decoration: none;
color: var(--white);
}
iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
menu{
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 0.2em;
}
.footer__menu{
    background-color: var(--dark2);
    padding: 1em;
}
.footer__menu ul li{
    margin-bottom: 0.5em;
    }
.footer__menu ul li a:hover{
color: var(--primary);
}
.body__akce{
    padding: 0.5em;
}
.body__akce > a{
   text-align: center;
}
.footer__socials{
display: flex;
flex-direction: row;
margin: 0;
justify-content: space-around;
}

.socials--git, .socials--tiktok, .socials--insta{
    opacity: 0.8;
transition: opacity 0.3s ease-out;
}
.socials--insta{
content: url(images/instagram.png);
max-width: 50px;
height: auto;

}
.socials--insta:hover{
content: url(/images/instagram_hover.png);
opacity: 1;

}

.socials--git{
    content: url(images/github.png);
    max-width: 50px;
    height: auto;
    }
    .socials--git:hover{
        content: url(/images/github_hover.png);
        opacity: 1;
        }
.socials--tiktok{
    content: url(images/tiktok.png);
        max-width: 50px;
height: auto;
    }
    .socials--tiktok:hover{
        content: url(/images/tiktok_hover.png);
        opacity: 1;
        }